.filter-container{
    background: yellow;
}

.content-container{
    background: url('../assets/img2.jpg');
    min-height: 400px;
    color: #fff;
}

.sprite-container{
    width: 300px;
    height: 200px;
    background: url('../assets/sprite.gif');
}